/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}

/* Create a hamburger responsive layout of nav for max-width 600px */

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px;
    width: 50px;
    height: 40px;
    border: 1px solid white;
    border-radius: 4px;
    background: transparent;
    cursor: pointer;
}

.hamburger .bar {
    height: 4px;
    width: 100%;
    background-color: white;
    border-radius: 5px;
}

nav{
    box-sizing: border-box;
    background-color: #004f9f;
    padding: 0.5em;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 2;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}

nav img{
    flex: 1;
    max-width: 3.5em;
}

header{
    margin: 1em 0;
}

header h1{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: xx-large;
    font-weight: bold;
    padding: 0.75rem 0;
}

header p{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: x-large;
    padding: 0.75rem 0;
}

section{
    padding: 1em 0;
}

section:nth-of-type(odd){
    background-color: rgb(245, 233, 211);
}

h3{
    font-family: "Montserrat", sans-serif;
    font-size: large;
    font-weight: bold;
    padding: 0.5rem 0;
    color: #000000;
}

p{
    line-height: 1.2rem;
}

li{
    line-height: 1.2rem;
}

.section-content{
    width: 75%;
    margin: 0 auto;
}

.section-content h2{
    font-family: "Montserrat", sans-serif;
    font-size: x-large;
    font-weight: bold;
    padding: 0.75rem 0;
    color: #013264;
}

.section-content .articles{
    padding: 0.75em 0;
}

.articles{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.articles article{
    width: 45%;
}

#course-description p{
    font-family: "Montserrat", sans-serif;
    font-size: large;
    padding: 0.75rem 0;
    line-height: 1.5;
}

.info-card{
    margin: 0 1em 0 0;
}

.image-container{
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #474747;
    border: 1px solid black;
    border-radius: 50%;
    margin: 1em 0;
}

.image-container img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
}

.info-card p{
    max-width: 120px;
    text-align: center;
}

.information-list{
    display: flex;
    flex-wrap: wrap;
}

.specific-info{
    font-weight: bold;
}

.course-info{
    padding: 0 0 0.5rem 0;

}

.active{
    text-decoration: underline;
}

.styled-list{
    list-style-type: disc;
}

.styled-sub-list{
    list-style-type: circle;
    margin-left: 1.5em;
    margin-top: 0.5rem;
}

#honour-code p{
    font-family: "Montserrat", sans-serif;
    font-size: large;
    padding: 0.75rem 0;
    line-height: 1.5;
}

footer{
    text-align: center;
    padding: 1em;
    color: black;
    line-height: 1.5;
}

table{
    width: 75%;
    margin: 1em auto;
    border-collapse: collapse;
}

th, td{
    padding: 0.5em;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
    
th{
    font-weight: bold;
}

thead{
    background-color: #004f9f;
    color: white;
}

.exam{
    background-color: #f8d7da;
}

.exam th, .exam td{
    border-bottom: none;
    vertical-align: middle;
    font-weight: bold;
}

.holiday{
    background-color: #f3a6d0;
}

.holiday td{
    font-weight: bold;
}

@media (max-width: 800px){
    nav ul li a{
        font-size: 1.5em;
    }

    *, *::before, *::after {
        box-sizing: border-box;
    }

    table {
        width: 95%;
    }

    thead {
        display: none;
    }

    tbody, tr, td, th {
        display: block;
        width: 100%;
    }

    tr {
        margin-bottom: 1rem;
        border: 1px solid #ddd;
        border-radius: 6px;
        padding: 0.5rem;
        background: #fff;
    }

    th[scope="row"] {
        font-size: 1.1rem;
        font-weight: bold;
        text-align: left;
        border-bottom: 2px solid #004f9f;
        margin-bottom: 0.5rem;
    }

    td {
        display: grid;
        grid-template-columns: 40% 1fr;
        gap: 0.5rem;
        padding: 0.4rem 0;
        margin-bottom: 0.5rem;
    }

    td:last-child {
        border: none;
    }

    td::before {
        position: static;
        content: attr(data-label);
        font-weight: bold;
        color: #555;
        white-space: wrap;
    }

    /* Exam & holiday rows */
    .exam,
    .holiday {
        padding: 0.75rem;
    }

    .exam td,
    .holiday td {
        display: block;
        padding-left: 0;
        font-weight: bold;
        text-align: center;
    }

    .exam td::before,
    .holiday td::before {
        display: none;
        content: none;;
    }

    .exam-range {
        margin-top: 0.6rem;
        font-weight: normal;
        color: #555;
    }
}
@media (max-width: 660px){
    .hamburger {
        display: flex;
    }

    nav ul{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 1rem;
    }

    nav ul li{
        margin: 0.5em 0;
    }

    nav {
        flex-direction: column;
    }

    .nav-head {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .articles article{
        width: 100%;
        margin-bottom: 1em;
    }

    .nav-open ul {
        display: flex;
    }
}
